name: main-mirror
run-name: Mirror main branch to codeberg
on: [push]
jobs:
  mirror-to-codeberg:
    runs-on: ubuntu-latest
    environment: github-to-codeberg
    steps:
      - uses: actions/checkout@v5
      - run: |
          echo "Host codeberg.org" > ~/.ssh/config
          echo "  User git" >> ~/.ssh/config
          echo "  IdentityFile $(pwd)/codeberg" >> ~/.ssh/config
          echo "$CODEBERG_IDENTITY" > codeberg
          git remote add codeberg "codeberg.org:fuji/$REPO_NAME"
          git push --set-upstream codeberg main
          rm codeberg
        env:
          CODEBERG_IDENTITY: ${{ github }}
          REPO_NAME: ${{ github.event.repository.name }}
