name: main-mirror
run-name: Mirror main branch to codeberg
on: [push]
jobs:
  mirror-to-codeberg:
    runs-on: ubuntu-latest
    environment: github-to-codeberg
    steps:
      - uses: actions/checkout@v5
      - run: cp ~/.ssh/config ~/.ssh/config.old
      - run: echo "" >> ~/.ssh/config
      - run: echo "Host codeberg.org" >> ~/.ssh/config
      - run: echo "  User git" >> ~/.ssh/config
      - run: echo "  IdentityFile ~/.ssh/codeberg.pub" >> ~/.ssh/config
      - run: echo "$CODEBERG_IDENTITY" > ~/.ssh/codeberg.pub
        env:
          CODEBERG_IDENTITY: ${{ github }}
      - run: git remote add codeberg "codeberg.org:fuji/$REPO_NAME"
        env:
          REPO_NAME: ${{ github.event.repository.name }}
      - run: git push --set-upstream codeberg main
      - run: rm ~/.ssh/codeberg.pub
      - run: mv ~/.ssh/config.old ~/.ssh/config
